.am-navbar-light{
    background-color: #00bfae;
    color:#fff;
}
.am-navbar-left, .am-navbar-right{
    flex: none;
}
.am-search{
    width:100%;
    background-color:transparent;
}
.am-search-cancel{
    color:#fff;
}
.a{
    width: 100px;
    height: 100px;
    margin: 3px;
}

/*Grid*/
.am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content .am-grid-icon{
    width: 63% !important;
}

/*Flex*/
.am-flexbox.am-flexbox-align-center{
    background: #fff;
    text-align: center;
}
.active-title{
    color:rgb(68,145,48);
    font-size: 16px;
    font-weight: bold;
}
.active-img{
    width: 1.6rem;
    height: 1.6rem;
}