<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .red{
            color: #f00;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model="val" @keyup="find">
        <button @click="click1">add</button>
        <ul>
            <li v-for="(obj,index) in showArr" @click="click2(obj)" :class="{red:obj.active}">
                {{obj.name}}
                <button @click="del">del</button>
            </li>
        </ul>
    </div>
    <script src="vue.js"></script>
    <script>
        var vm = new Vue({
            el:"#app",
            data:{
                arr:[],
                val:"",
                showArr:[]
            },
            methods:{
                click1(){
                    this.arr.push({name:this.val,active:false});
                    this.arr.sort(function (a , b) {
                        return a.name - b.name;
                    });
                    this.showArr = this.arr;
                },
                click2(obj){
                    obj.active = !obj.active;
                },
                find(){
                    var newArr = this.arr.filter((elem , index)=>{
                        return elem.name.indexOf(this.val) != -1;
                    });
                    this.showArr = newArr;
                },
                del(){
                    this.showArr.splice(this.arr.index , 1);
                }
            }

        })

    </script>
</body>
</html>